<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="card">
        <div class="title">
            <h1>Sobre Nós</h1>
        </div>

        <div class="body">
            <div class="card-about animation-left">
                <h3>Sobre o Projeto</h3>
                <p>
                    O "Loja Alpha" é uma aplicação web desenvolvida como parte de um processo seletivo para a vaga de Desenvolvedor(a) Júnior - Front End. O principal objetivo do projeto era criar uma interface intuitiva e responsiva para o gerenciamento de produtos e a autenticação de usuários, com um sistema completo de CRUD que permite a criação, visualização, atualização e exclusão de produtos. Desenvolvida em Angular, a aplicação integra-se à API fornecida pela empresa, proporcionando uma experiência segura e eficiente.                </p>
            </div>

            <div class="card-about animation-right">
                <h3>Sobre mim</h3>
                <p>
                    Olá! Eu sou <a href="https://henrique-dev-portifolio.vercel.app/home" target="_blank">Henrique Torres</a>, o desenvolvedor por trás do "Loja Alpha". Este projeto foi uma oportunidade empolgante para aplicar meus conhecimentos e criar uma aplicação funcional e eficiente. Estou sempre em busca de desafios que me ajudem a crescer como profissional e contribuir para soluções inovadoras.
                </p>
            </div>
        </div>
    </div>
</div>
