@import url('../../../animations.scss');

.sidebar {
  opacity: 0;
  animation: slideInRight 0.3s ease-in forwards;
  
  // Animação que deve ser aplicada quando o side bar some
  &.slide-out {
    animation: slideOutRight 0.3s ease-in forwards;
  }

  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(#3F51B5, 0.5);
  box-shadow: #3F51B5 0.1em 0.1em 0.2em;
}

.sidebar-container {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.close {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 0 0 4px 0;

  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 4px 10px 0 0;
    border: none;
    height: 80%;
    background-color: #3F51B5;
    color: #fff;
    padding: 5px;
    border-radius: 5px;

    &:hover {
      background-color: #3F51B5;
      transition: background-color 0.5s ease, transform 0.5s ease;
    }
  }
}

.list {
  width: 100%;
  height: 30%;
  margin-left: 15px;

  ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
      a {
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    
        &:hover {
          color: #3F51B5;
          transition: background-color 0.5s ease, transform 0.5s ease;
        }
      }
    }
  }
}

.active {
  color: #3F51B5 !important;
}

.buttons {
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #3F51B5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3F51B5;
    margin: 10px 0 20px 0;

    button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin-left: 10px;
      border: none;
      color: #fff;
      background-color: #3F51B5;
      height: 100%;
      font-size: 18px;

      &:hover {
        transition: transform 0.3s ease-in-out;
        transform: scale(1.1);
      }
    }
  }

  a {
    text-decoration: none;

    &:hover {
      transition: transform 0.3s ease-in-out;
      transform: scale(1.1);
    }
  }
}

.logout-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: none;
  color: #fff;
  background-color: #3F51B5;
  font-size: 14px;
  width: 50%;
  padding: 5px;
  border-radius: 5px;
}